:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --section-pt: 94px;
  --section-pb: 94px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  display: inline-block;
}
.list {
  list-style: none;
}
.adress {
  font-style: normal;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.header .container {
  align-items: center;
  display: flex;
}
/* ==============COMPONENTS============== */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.body {
  font-family: var(--main-font);
  color: #ffffff;
}
.main-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}
.main-logo:hover,
.main-logo:focus {
  color: var(--accent-color);
}
.web {
  color: #2196f3;
}
/* ===============NAVIGATION=============== */

.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
  align-items: center;
}

.navigation-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.contact-list {
  margin-left: auto;
}

.tel-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.mail-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
/* =================HERO================= */
.section {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
  margin: 0 auto;
}
.modal-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.87;
  cursor: pointer;
  min-width: 200px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  background-color: #2196f3;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background: var(--accent-color);
}
.portfolio-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  display: block;
  border: 0;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background: var(--accent-color);
}

.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
.buttons-item:not(:last-child) {
  margin-right: 8px;
}
.buttons-item :not(:last-child) {
  display: flex;
  text-align: center;
  margin-top: 94px;
  margin-bottom: 34px;
}

.hero-item {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  height: 120px;
  margin: 0 auto;
}
.hero {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}
/* ================ABOUT================ */
.function {
  margin-top: 10px;
}
.card-name {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #eeeeee;
  border-top: none;
  background: #ffffff;
}
.card-title {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #eeeeee;
  border-top: none;
  background: #ffffff;
  padding-left: 24px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.about-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.about-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.description {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.project-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.project-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-type {
  font-family: var(--main-font);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/* =============ДЕЯТЕЛЬНОСТЬ============= */

.title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.activity-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.activity-item-img {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* =================TEAM================= */
.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.team-list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}
.name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.function {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 10px;
}
/* ================FOOTER================ */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 10px;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.footer-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-adress {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #ffffff;
}
